################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IconTestFramework/FileContentIndex/3f1e47b4-6ab4-4d84-8834-579b022e6ea0.vsidx
